/* ==========================================================================
   Basic: Variables
 ============================================================================ */

// Colors
// Grayscale and brand colors.
$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$brand-primary: #35a2f4 !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;

// Options
// Quickly modify global styling by enabling or disabling optional features.
// Buttons

$btn-width: 120px !default;
$btn-height: 46px !default;
$btn-primary-color: #fff !default;
$btn-primary-bg: $brand-primary !default;
$btn-info-color: #fff !default;
$btn-info-bg: $brand-info !default;
$btn-success-color: #fff !default;
$btn-success-bg: $brand-success !default;
$btn-warning-color: #fff !default;
$btn-warning-bg: $brand-warning !default;
$btn-danger-color: #fff !default;
$btn-danger-bg: $brand-danger !default;
$btn-link-disabled-color: $gray-light !default;

// Forms
$form-group-margin-bottom: 1rem !default;
$input-line-height: 1.5 !default;
$input-padding-x: 0.75rem !default;
$input-padding-y: 0.375rem !default;

// $input-height:                   (($font-size-small * $input-line-height) + ($input-padding-y * 2)) !default;
$input-bg: #fff !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $gray !default;
$input-border-color: #ccc !default;
$input-border-focus: #66afe9 !default;
$input-color-placeholder: #999 !default;

// Tables
$table-cell-padding: 0.75rem !default;
$table-bg-hover: #F8FFFF !default;
$table-th-bg: #F8FFFF !default;
$table-border-color: #ececec !default;

// Breadcrumbs
$breadcrumb-padding-vertical: 0.75rem !default;
$breadcrumb-padding-horizontal: 1rem !default;
$breadcrumb-bg: $gray-lighter !default;
$breadcrumb-divider-color: $gray-light !default;
$breadcrumb-active-color: $gray-light !default;
$breadcrumb-divider: "/" !default;

// Pagination
$pagination-padding-x: 0.75rem !default;
$pagination-padding-y: 0.5rem !default;
$pagination-color: $brand-primary !default;
$pagination-bg: #fff !default;
$pagination-border-color: #ddd !default;
$pagination-hover-color: $link-hover-color !default;
$pagination-hover-bg: $gray-lighter !default;
$pagination-hover-border: #ddd !default;
$pagination-active-color: #fff !default;
$pagination-active-bg: $brand-primary !default;
$pagination-active-border: $brand-primary !default;
$pagination-disabled-color: $gray-light !default;
$pagination-disabled-bg: #fff !default;
$pagination-disabled-border: #ddd !default;

// Pager
$pager-padding-x: 20px !default;
$pager-padding-y: 8px !default;
$pager-bg: $pagination-bg !default;
$pager-border-color: $pagination-border-color !default;
$pager-border-radius: 16px !default;
$pager-hover-bg: $pagination-hover-bg !default;
$pager-hover-color: $link-hover-color !default;
$pager-active-bg: $pagination-active-bg !default;
$pager-active-color: $pagination-active-color !default;
$pager-disabled-color: $pagination-disabled-color !default;

// Modals
// Breadcrumbs
// Pagination
