.media {
  display: flex;
  align-items: flex-start;

  &.center {
    align-items: center;
  }

  .media-figure {
    margin-right: 1em;
  }

  .media-body {
    flex: 1;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
