
.table {
  width: 100%;
  max-width: 100%;
  border: 1px solid $table-border-color;
  margin-bottom: 1em;
  color: #7f8c8d;

  caption {
    margin: .5em 0;
    font-size: 18px;
  }

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: middle;
    border: 1px solid $table-border-color;
  }

  thead th {
    border-bottom: 1px solid $table-border-color;
    background-color: $table-th-bg;
    font-weight: 400;
  }

  tbody tr {
    &:hover {
      background-color: $table-bg-hover;
    }
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
