


  .landing-content {
    position: relative;
  }

  .news-category {
    position: absolute;
    display: flex;
    width: 856px;
    padding: 0 1em;
    background-color: #fff;

    a {
      position: relative;
      display: inline-block;
      width: 80px;
      height: 55px;
      color: $ethfans-secondary-text;
      font-size: 14px;
      line-height: 58px;
      text-align: center;
      transition: all .15s ease-in-out;

      &.active,
      &:hover {
        color: $ethfans-blue;
        border-bottom: 2px solid $ethfans-blue;
      }
    }
  }

  .news-list {
    width: 856px;
    margin-top: 68px;

    .news-item {
      display: flex;
      padding: 1.3em;
      border-radius: 2px;
      margin-bottom: 1em;
      background-color: #fff;
      box-shadow: 0 0 1px rgba(0,0,0,.15);

      .news-cover {
        width: 175px;
        height: 105px;
      }

      .news-info {
        display: flex;
        flex-direction: column;
        margin-left: 1.3em;

        .title {
          @include text-overflow();
          font-size: 24px;
          color: $ethfans-primary-text;

          &:hover {
            text-decoration: underline;
          }
        }

        .description {
          @include line-clamp(2);
          height: 2.6em;
          margin-top: 1em;
          margin-bottom: .8em;
          color: $ethfans-secondary-text;
          font-size: 14px;
        }

        .meta {
          color: $ethfans-secondary-text;
          font-size: 14px;

          .name {
            color: $ethfans-secondary-text;
          }
        }
      }
    }
  }
